div#comic-list-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 50%;
    width: 400px;
    border-right: var(--app-border-style);
    padding-top: 40px;
    margin: 0 0 0 2px;
    overflow: hidden;
    z-index: 2;
    background: var(--app-background-color);
}

div#comic-list-header {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: content-box;
    padding: 0 10px 2px 20px;
    border-bottom: var(--app-border-style);
}

div.comic-list-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div#search-and-buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: fit-content;
    outline: var(--app-border-style);
}

div#search-and-buttons.focus {
    outline: var(--app-border-active-style);
}

input#comic-list-search  {
    position: relative;
    padding: 0 10px 0 10px;
    flex: 1;
    height: 42px;
    background: none;
    font-family: var(--app-font);
    outline: none;
    border: none;
}

input#comic-list-search:focus  {
    border: none;
    outline: none;
}

a.comic-list-header-button {
    display: flex;
    position: relative;
    width: 42px;
    height: 44px;
    margin: 0;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 18pt;
    cursor: default;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

a.comic-list-header-button.disabled {
    color: #BBBBBB;
    pointer-events: none;
}

a.comic-list-header-button:hover {
    background: #F1F1F1;
}

a.comic-list-header-button.disabled:hover {
    background: inherit !important;
}

a.comic-list-header-button:active {
    background: #EEEEEE;
}

a.comic-list-header-button.disabled:active {
    background: inherit !important;
}

div#search-buttons {
    grid-area: buttons;
    grid-row: 1;
    height: 42px;
    display: flex;
    flex-direction: row;
    margin: 0;
}

div#search-buttons a.comic-list-header-button {
    height: 42px !important;
    width: 42px;
}

a#comic-list-search-button {
    height: 42px;
    margin: 0;
}

a#comic-list-clear-search-button {
    height: 42px;
    margin: 0;
}

a#comic-list-refresh-button {
    grid-column: 3;
    grid-row: 1;
    margin-left: 1px;
}

div.comic-list-header-container {
    display: flex;
    flex-direction: row;
}

div#comic-list-header h1 {
    font-family: var(--app-font);
    font-size: 14pt;
    font-weight: 600;
    margin: 10px 0;
    line-height: 32px;
    vertical-align: middle;
    flex: 1;
    min-height: 32px;
}

div#comic-list-container {
    position: relative;
    box-sizing: content-box;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    height: auto !important;
}


div#comic-list-container.disabled {
    opacity: 0.25;
    pointer-events: none;
}

div.publisher-group {
    position: relative;
}

h2.publisher-heading {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 5px 20px;
    font-family: var(--app-font);
    font-size: 10pt;
    font-weight: 700;
    text-transform: uppercase;
    background: #F8F8F8;
    opacity: 1.0;
    border-top: var(--app-border-style);
    border-bottom: var(--app-border-style);
    z-index: 5;
}

div.publisher-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.list-comic {
    margin: 0;
    position: relative;
    padding: 5px 5px 5px 20px;
    display: flex;
    flex-direction: row;
    z-index: 4;
    align-items: center;
    justify-content: center;
}

div.list-comic-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;       /* For the love of god never remove this. https://codepen.io/aj-foster/pen/emBYPW */
    z-index: 1;
}

div.list-comic-bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div.list-comic:hover > div.list-comic-bg {
    background: #F1F1F1;
}

div.list-comic-wrapper:active + div.list-comic-bg, div.list-comic-wrapper:focus + div.list-comic-bg {
    background: #EEEEEE;
}

div.selected-comic {
    background: #F1F1F1;
}

h3.comic-title-list {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: 11pt;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}

div.comic-details-list-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

div.comic-details-list {
    display: flex;
    flex-direction: row;
    font-size: 10pt;
    color: #AAAAAA;
    min-width: 0;       /* For the love of god never remove this. https://codepen.io/aj-foster/pen/emBYPW */
    min-height: 13pt;
    line-height: 13pt;
}

p.comic-writer-list {
    margin: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

p.comic-artist-list {
    margin: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

span.comic-detail-spacer-list {
    margin: 0;
    padding: 0;
    width: 10px;
}

div.comic-list-button {
    position: relative;
    padding: 0 6px 0 6px;
    display: none;
    justify-content: center;
    justify-items: center;
    z-index: 100;
    font-weight: 100;
    color: var(--app-font-color);
}

div.comic-list-button i.icons8-empty-box {
    display: none;
}

div.list-comic:hover div.comic-list-button {
    display: unset !important;
}

div.comic-list-button.active {
    display: unset !important;
}

div.comic-list-button:hover {
    display: unset !important;
    color: var(--app-font-color-highlight);
}

div.comic-list-button:active, div.comic-list-button:focus {
    display: unset !important;
    color: var(--app-font-color-active);
}

div.comic-list-button.active:hover {
    display: unset !important;
    color: var(--app-font-color-cancel) !important;
}

div.comic-list-button.active:active, div.comic-list-button.active:focus {
    display: unset !important;
    color: var(--app-font-color-cancel-active) !important;
}

div.comic-list-button.active:active, div.comic-list-button.active:focus {
    display: unset !important;
    color: var(--app-font-color-cancel-active) !important;
}

div.comic-list-button.active:hover i.icons8-box {
    display: none !important;
}

div.comic-list-button.active:hover i.icons8-empty-box {
    display: unset !important;
}

i.comic-list-icon {
    font-size: 14pt;
    vertical-align: middle;
    font-weight: 100;
}

i.comic-list-icon.icons8-box:before {
    margin-bottom: 10px;
}

i.comic-list-icon.icons8-empty-box:before {
    margin-bottom: 10px;
}