@import url('releases.css');
@import url('pulled.css');
@import url("../font/pullist/css/styles.min.css");

div#wrapper {
    display: flex;
    flex-grow: 1;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid var(--accent-color-light-1);
}

div#splashscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 899;
    background: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

div#splashscreen img {
    max-height: 25%;
    object-fit: contain;

    /* Don't remove this! https://stackoverflow.com/questions/17932018/animate-opacity-in-jquery-leaves-ghost-elements */
    -webkit-backface-visibility: hidden;
}

div#electron-titlebar {
    z-index: 900;
    background: none;
    border: none;
    outline: none;
}

div#electron-titlebar-title {
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 9pt;
}

div#nav-container {
    background: var(--accent-color);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 260px;
    flex-shrink: 0;
    min-width: 1px;
    padding-top: 40px;
    transition: width 400ms;
    overflow: hidden;
    white-space: nowrap;
}

div#nav-container.collapsed {
    width: 66px;
}

div#main-container {
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 1px;
}

div#nav-container nav {
    display: flex;
    flex-direction: column;
    flex: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

nav ul > :last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

li.nav-item {
    vertical-align: middle;
    /* margin-bottom: 10px; */
    /* height: 52px; */
    align-content: center;
}

li.nav-item:hover, a.hamburger-button:hover {
    background: rgba(255, 255, 255, 0.3);
}

li.nav-item:active, a.hamburger-button:active {
    background: rgba(255, 255, 255, 0.5);
}

li.nav-item a {
    padding: 10px 0;
    cursor: default;
    display: flex;
    margin: 0 0 0 6px;
    color: rgba(255, 255, 255, 1.0);
    font-weight: 300;
    flex-direction: row;
    /* color: rgba(255, 255, 255, 0.7); */
}

li.nav-item.selected a {
    border-left: 4px solid #FFFFFF;
    margin: 0 0 0 2px;
    color: rgba(255, 255, 255, 1.0);
    font-weight: 500;
}

i.nav-icon {
    font-size: 18pt;
    margin: 0 15px 0 15px;
    vertical-align: middle;
    font-weight: 100;
}

span.nav-item-text {
    font-size: 14pt;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6px;
}

a.hamburger-button {
    padding: 10px 21px 10px 21px;
    cursor: default;
    display: flex;
    margin: 0 0 10px 0;
    color: rgba(255, 255, 255, 1.0);
    font-weight: 300;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a.hamburger-button i.nav-icon {
    margin: 0 !important;
}