div.list-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 50%;
    width: 400px;
    border-right: var(--app-border-style);
    padding-top: 40px;
    margin: 0 0 0 2px;
    overflow: hidden;
    z-index: var(--layer-1);
    background: var(--app-background-color);
}

div.list-header {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: content-box;
    padding: 0 10px 2px 20px;
    border-bottom: var(--app-border-style);
}

div.list-header-action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a.list-header-button {
    display: flex;
    position: relative;
    width: 42px;
    height: 44px;
    margin: 0;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 18pt;
    cursor: default;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background: var(--app-command-button-background-color);
}

a.list-header-button.disabled {
    background: var(--app-command-button-background-color-disabled);
    color: var(--app-command-button-foreground-color-disabled);
    pointer-events: none;
}

a.list-header-button:hover {
    background: var(--app-command-button-background-color-hover);
    color: var(--app-command-button-foreground-color-hover);
}

a.list-header-button.disabled:hover {
    background: inherit !important;
}

a.list-header-button:active {
    background: var(--app-command-button-background-color-active);
    color: var(--app-command-button-foreground-color-active);
}

a.list-header-button.disabled:active {
    background: inherit !important;
}

div.list-header-container {
    display: flex;
    flex-direction: row;
}

h1.list-header-text {
    font-family: var(--app-font);
    font-size: 14pt;
    font-weight: 600;
    margin: 10px 0;
    line-height: 32px;
    vertical-align: middle;
    flex: 1;
    min-height: 32px;
}

div.list-container {
    position: relative;
    box-sizing: content-box;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    flex: 1;
    height: auto !important;
}

div.list-container.disabled {
    opacity: 0.25;
    pointer-events: none;
}

div.list-element {
    margin: 0;
    position: relative;
    padding: 5px 5px 5px 20px;
    display: flex;
    flex-direction: row;
    z-index: var(--layer-1);
    align-items: center;
    justify-content: center;
    color: var(--app-list-item-foreground-color);
}

div.list-element-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;       /* For the love of god never remove this. https://codepen.io/aj-foster/pen/emBYPW */
    z-index: var(--layer-1);
}

div.list-element-bg {
    z-index: var(--layer-0);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--app-list-item-background-color);
}

div.list-element:hover > div.list-element-bg {
    background: var(--app-list-item-background-color-hover);
}

div.list-element-wrapper:active + div.list-element-bg, 
div.list-element-wrapper:focus + div.list-element-bg {
    background: var(--app-list-item-background-color-active);
}

div.selected-element {
    background: var(--app-list-item-background-color-selected);
    color: var(--app-list-item-foreground-color-selected);
}

h3.element-title-list {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: 11pt;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}

div.element-details-list-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

div.element-details-list {
    display: flex;
    flex-direction: row;
    font-size: 10pt;
    background: var(--app-list-detail-background-color);
    color: var(--app-list-detail-foreground-color);
    min-width: 0;       /* For the love of god never remove this. https://codepen.io/aj-foster/pen/emBYPW */
    min-height: 13pt;
    line-height: 13pt;
}

/*

div.publisher-group {
    position: relative;
}

h2.publisher-heading {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 5px 20px;
    font-family: var(--app-font);
    font-size: 10pt;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--app-list-header-background-color);
    color: var(--app-list-header-foreground-color);
    opacity: 1.0;
    border-top: var(--app-border-style);
    border-bottom: var(--app-border-style);
    z-index: var(--layer-2);
}

div.publisher-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.comic-list-button {
    position: relative;
    padding: 0 6px 0 6px;
    display: none;
    justify-content: center;
    justify-items: center;
    z-index: var(--layer-2);
    font-weight: 100;
    color: var(--app-font-color);
}

div.comic-list-button i.icons8-empty-box {
    display: none;
}

div.list-comic:hover div.comic-list-button {
    display: unset !important;
}

div.comic-list-button.active {
    display: unset !important;
}

div.comic-list-button:hover {
    display: unset !important;
    color: var(--app-font-color-highlight);
}

div.comic-list-button:active, div.comic-list-button:focus {
    display: unset !important;
    color: var(--app-font-color-active);
}

div.comic-list-button.active:hover {
    display: unset !important;
    color: var(--app-font-color-cancel) !important;
}

div.comic-list-button.active:active, div.comic-list-button.active:focus {
    display: unset !important;
    color: var(--app-font-color-cancel-active) !important;
}

div.comic-list-button.active:active, div.comic-list-button.active:focus {
    display: unset !important;
    color: var(--app-font-color-cancel-active) !important;
}

div.comic-list-button.active:hover i.icons8-box {
    display: none !important;
}

div.comic-list-button.active:hover i.icons8-empty-box {
    display: unset !important;
}

i.comic-list-icon {
    font-size: 14pt;
    vertical-align: middle;
    font-weight: 100;
}

i.comic-list-icon.icons8-box:before {
    margin-bottom: 10px;
}

i.comic-list-icon.icons8-empty-box:before {
    margin-bottom: 10px;
}*/

