/**
 * Honestly, a lot of the layout stuff in here is a crapshoot. I'm ultimately
 * using Javascript to get the modal viewing pane and images sized correctly
 * in proportion to each other.
 */

div#modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--layer-898);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

div#modal-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--app-background-color-modal);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    will-change: opacity;
}

div#modal-content {
    position: relative;
    display: flex;
    height: 100vh;
    max-height: 100vh;
}

div#cover-overlay-container {
    position: relative;
    background: var(--app-modal-content-background-color);
    width: auto;
    min-height: 0;
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

div#cover-overlay-title-container {
    position: relative;
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

a#cover-overlay-close-button {
    position: absolute;
    top: 0;
    right: 0;
    grid-column: 3;
    grid-row: 1;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    color: var(--app-modal-content-foreground-color);
    -webkit-app-region: no-drag;
    z-index: var(--layer-901);
}

a#cover-overlay-close-button:hover, 
a#cover-overlay-close-button:focus {
    background: var(--app-modal-content-close-button-color-hover);
}

a#cover-overlay-close-button:active {
    background: var(--app-modal-content-close-button-color-active);
}

div#cover-display-container {
    position: relative;
    flex: 1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto;
}

div#cover-image-carousel {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    min-height: 0;
    overflow-x: scroll;
    touch-action: none;
    display: flex;
    -webkit-transition: opacity 0.2s, width 0.2s, height 0.2s;
    transition: opacity 0.2s, width 0.2s, height 0.2s;
    will-change: opacity, width, height;
}

div#cover-image-carousel::-webkit-scrollbar {
    display: none;
}

div#cover-images-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    min-height: 0;
    /* max-height: inherit; */
    max-width: fit-content;
}

img.cover-overlay-cover-image {
    position: relative;
    min-height: 0;
    user-select: none;
    /* object-fit: scale-down; */
}

a.cover-overlay-nav-button {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    height: 100px;
    width: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
    background: rgba(0, 0, 0, 0.4);
    color: var(--app-modal-content-foreground-color);
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.0;
    transition: opacity 0.0s 2.0s;
    z-index: var(--layer-2);
}

a.cover-overlay-nav-button.modal-disabled {
    visibility: hidden;
}

a.cover-overlay-nav-button:hover,
a.cover-overlay-nav-button:focus {
    background: rgba(0, 0, 0, 0.6);
}

a.cover-overlay-nav-button:active {
    background: rgba(0, 0, 0, 0.75);
}

div#cover-display-container:hover 
    a.cover-overlay-nav-button {
    opacity: 1.0;
    transition: opacity 0.0s 0.0s;
}

a#previous-cover {
    grid-column: 1;
}

a#next-cover {
    grid-column: 3;
}

div#cover-overlay-details {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background: var(--accent-color-dark-2);
    align-self: end;
    z-index: var(--layer-2);
    justify-content: center;
    /* align-items: center; */
}

div#cover-overlay-details-content {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    min-width: 0;
    position: relative;
}

span.cover-overlay-text {
    color: var(--app-modal-content-foreground-color);
    font-size: 11pt;
    font-weight: 400;
    margin: 0 20px 10px 20px;
    min-width: 0;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

span#cover-overlay-title-text {
    margin-bottom: 0;
    margin-top: 10px;
}

span#cover-overlay-price {
    color: var(--app-modal-content-foreground-color);
}

button#cover-overlay-make-main-button {
    color: var(--app-modal-content-foreground-color);
    grid-column: 3;
    margin-right: 10px;
}

button#cover-overlay-make-main-button:hover {
    background: var(--app-command-button-background-color-transparent-hover);
    /* color: var(--app-command-button-foreground-color-hover); */
}

button#cover-overlay-make-main-button:active {
    background: var(--app-command-button-background-color-transparent-active);
    /* color: var(--app-command-button-foreground-color-active); */
}