div#modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--layer-898);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

div#modal-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--app-background-color-modal);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    will-change: opacity;
}

div#modal-content {
    position: relative;
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
}

div#cover-overlay-container {
    position: relative;
    background: var(--app-modal-content-background-color);
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: width 0.2s, height 0.2s;
    will-change: width, height;
}

div#cover-overlay-title-container {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

h2#cover-overlay-title-text {
    position: relative;
    grid-column: 1;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    color: var(--app-modal-content-foreground-color);
    font-size: 12pt;
    font-weight: 400;
    white-space: pre-line;
    min-width: 0;
}

a#cover-overlay-close-button {
    grid-column: 3;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    color: var(--app-modal-content-foreground-color);
    -webkit-app-region: no-drag;
    z-index: var(--layer-901);
}

a#cover-overlay-close-button:hover, 
a#cover-overlay-close-button:focus {
    background: var(--app-modal-content-close-button-color-hover);
}

a#cover-overlay-close-button:active {
    background: var(--app-modal-content-close-button-color-active);
}

div#cover-display-container {
    position: relative;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

div#cover-image-carousel {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    height: 100%;
    max-height: 100vh;
    max-width: 0px;
    display: flex;
    overflow-x: scroll;    
    /* scroll-behavior: smooth; */
    /* scroll-snap-type: x mandatory; */
    touch-action: none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    will-change: opacity;
}

div#cover-image-carousel::-webkit-scrollbar {
    width: 0 !important;
}

div#cover-images-container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    transition: translate 0.2s;
    will-change: translate;
}

img.cover-overlay-cover-image {
    position: relative;
    max-height: 100vh;
    user-select: none;
    /* scroll-snap-align: start; */
    z-index: var(--layer-1);
}

a.cover-overlay-nav-button {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    height: 100px;
    width: 50px;
    background: rgba(0, 0, 0, 0.4);
    color: var(--app-modal-content-foreground-color);
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.0;
    transition: opacity 0.0s 2.0s;
    z-index: var(--layer-2);
}

a.cover-overlay-nav-button.modal-disabled {
    visibility: hidden;
}

a.cover-overlay-nav-button:hover,
a.cover-overlay-nav-button:focus {
    background: rgba(0, 0, 0, 0.6);
}

a.cover-overlay-nav-button:active {
    background: rgba(0, 0, 0, 0.75);
}

div#cover-display-container:hover 
    a.cover-overlay-nav-button {
    opacity: 1.0;
    transition: opacity 0.0s 0.0s;
}

a#previous-cover {
    grid-column: 1;
    grid-row: 1;
}

a#next-cover {
    grid-column: 3;
    grid-row: 1;
}