@import url('comic-list.css');
@import url('detail-view.css');

section#pulled {
    height: 100%;
    position: relative;
    overflow: hidden;
}

div#pulled-wrapper {
    display: flex;
    flex-grow: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
}