@import url('comic-list.css');
@import url('detail-view.css');

section#pulled {
    height: 100%;
    position: relative;
    overflow: hidden;
}

div#pulled-wrapper {
    display: flex;
    flex-grow: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
}

div#comic-pulled-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 0;
    height: 50px;
    background: var(--app-background-color-overlay);
    border-top: var(--app-border-style);
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span#comic-pulled-info-price {
    position: relative;
    margin: 0 10px 0 10px;
    font-size: 14pt;
    overflow: hidden;
    white-space: nowrap;
}

span#comic-pulled-info-count {
    position: relative;
    margin: 0 10px 0 10px;
    font-size: 9pt;
    overflow: hidden;
    white-space: nowrap;
}