@import url('comic-list.css');
@import url('detail-view.css');

section#pulled {
    height: 100%;
    position: relative;
    overflow: hidden;
}

div#pulled-wrapper {
    display: flex;
    flex-grow: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
}

div.pulled-header-container {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

a#datepicker {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 1;
    color: var(--app-header-foreground-color);
    /*margin: 10px 0;*/
}

a#datepicker:hover {
    color: var(--app-header-foreground-color-hover);
}

a#datepicker:active, a#datepicker:focus {
    color: var(--app-header-foreground-color-active);
}

a#datepicker h1#comic-list-header-text {
    position: relative;
    white-space: nowrap;
    /*margin: 0 0;*/
}

a#datepicker i.icons8-calendar {
    display: flex;
    align-items: center;
    margin: 5px 0 0 5px;
    flex: 0;
}

i#comic-list-header-icon {
    margin-top: 0.95em;
    grid-column: 2;
}

a.pulled-header-date-button {
    font-size: 18pt;
    display: flex;
    align-items: center;
    background: var(--app-command-button-background-color);
    margin: 10px 0;
}

a.pulled-header-date-button:hover {
    background: var(--app-command-button-background-color-hover);
}

a.pulled-header-date-button:active {
    background: var(--app-command-button-background-color-active);
}

a.pulled-header-date-button.disabled {
    background: var(--app-command-button-background-color-disabled) !important;
    color: var(--app-command-button-foreground-color-disabled) !important;
    pointer-events: none;
}

a#pulled-header-prev-date {
    grid-column: 3;
}

a#pulled-header-next-date {
    grid-column: 4;
}

div#comic-pulled-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 0;
    height: 50px;
    background: var(--app-background-color-overlay);
    border-top: var(--app-border-style);
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span#comic-pulled-info-price {
    position: relative;
    margin: 0 10px 0 10px;
    font-size: 14pt;
    overflow: hidden;
    white-space: nowrap;
}

span#comic-pulled-info-count {
    position: relative;
    margin: 0 10px 0 10px;
    font-size: 9pt;
    overflow: hidden;
    white-space: nowrap;
}