div#comic-list-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 50%;
    width: 400px;
    border-right: var(--app-border-style);
    padding-top: 40px;
    margin: 0 0 0 2px;
    overflow: hidden;
    z-index: 2;
    background: var(--app-background-color);
}

div#comic-list-header {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: content-box;
    padding: 0 10px 2px 20px;
    border-bottom: var(--app-border-style);
}

div.comic-list-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div#search-and-buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: fit-content;
    outline: var(--app-border-style);
}

div#search-and-buttons.focus {
    outline: var(--app-border-active-style);
}

input#comic-list-search  {
    position: relative;
    padding: 0 10px 0 10px;
    flex: 1;
    height: 42px;
    background: none;
    font-family: var(--app-font);
    outline: none;
    border: none;
}

input#comic-list-search:focus  {
    border: none;
    outline: none;
}

a.comic-list-header-button {
    display: flex;
    position: relative;
    width: 42px;
    height: 44px;
    margin: 0;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 18pt;
    cursor: default;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

a.comic-list-header-button.disabled {
    color: #BBBBBB;
    pointer-events: none;
}

a.comic-list-header-button:hover {
    background: #F1F1F1;
}

a.comic-list-header-button.disabled:hover {
    background: inherit !important;
}

a.comic-list-header-button:active {
    background: #EEEEEE;
}

a.comic-list-header-button.disabled:active {
    background: inherit !important;
}

div#search-buttons {
    grid-area: buttons;
    grid-row: 1;
    height: 42px;
    display: flex;
    flex-direction: row;
    margin: 0;
}

div#search-buttons a.comic-list-header-button {
    height: 42px !important;
    width: 42px;
}

a#comic-list-search-button {
    height: 42px;
    margin: 0;
}

a#comic-list-clear-search-button {
    height: 42px;
    margin: 0;
}

a#comic-list-refresh-button {
    grid-column: 3;
    grid-row: 1;
    margin-left: 1px;
}

div.comic-list-header-container {
    display: flex;
    flex-direction: row;
}

div#comic-list-header h1 {
    font-family: var(--app-font);
    font-size: 14pt;
    font-weight: 600;
    margin: 10px 0;
    line-height: 32px;
    vertical-align: middle;
    flex: 1;
    min-height: 32px;
}

div#comic-list-container {
    position: relative;
    box-sizing: content-box;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    height: auto !important;
}

ul#comic-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#comic-list.disabled {
    opacity: 0.25;
    pointer-events: none;
}

.publisher-group {

}

.publisher-heading {
    font-family: var(--app-font);
    font-size: 10pt;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 20px;
    background: #F8F8F8;
    border-top: var(--app-border-style);
    border-bottom: var(--app-border-style);
}

.publisher-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.publisher-list li {
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

li.list-comic {
    padding: 5px 20px;
    cursor: default;
}

li.list-comic:hover {
    background: #F1F1F1;
}

li.list-comic:active, li.list-comic:focus {
    background: #EEEEEE;
}

li.selected-comic {
    background: #F1F1F1;
}

h3.comic-title-list {
    margin: 0;
    font-size: 11pt;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}

div.comic-details-list-container {
    display: flex;
    flex-direction: row;
}

div.comic-details-list {
    display: flex;
    flex-direction: row;
    font-size: 10pt;
    color: #AAAAAA;
    min-height: 13pt;
    line-height: 13pt;
}

p.comic-writer-list {
    margin: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

p.comic-artist-list {
    margin: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

span.comic-detail-spacer-list {
    margin: 0;
    padding: 0;
    width: 10px;
}