@import url('comic-list.css');
@import url('list.css');
@import url('detail-view.css');

section#releases {
    height: 100%;
    position: relative;
    overflow: hidden;
}

div#releases-wrapper {
    display: flex;
    flex-grow: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
}

div#comic-retrieve-status-container {
    transition: bottom 0.6s ease-out;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: var(--app-background-color-overlay);
    z-index: var(--layer-3);
    display: block;
    text-align: center;
    min-width: 0;
}

div#comic-retrieve-status-container.status-hidden {
    transition: bottom 0.6s ease-out;
    bottom: -50px;
}

div#progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--app-progressbar-color);
}

span#comic-retrieve-message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 10px 0 10px;
    font-size: 10pt;
    overflow: hidden;
    white-space: nowrap;
}