@import url('releases-comic-list.css');

#releases {
    height: 100%;
    position: relative;
    overflow: hidden;
}

#releases-wrapper {
    display: flex;
    flex-grow: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
}

div#comic-details {
    position: relative;
    flex: 1;;
}

div#details-background {
    position: relative;
    height: 100%
}

div#details-container {
    padding-top: 40px;
    height: 100%
}