// Icons
// -------------------------


[data-icons8]:before,
.icons8-add:before,
.icons8-arrow-pointing-to-right:before,
.icons8-box:before,
.icons8-calendar:before,
.icons8-cancel:before,
.icons8-checked-box:before,
.icons8-cog-wheel:before,
.icons8-collapse-arrow:before,
.icons8-drop-down-arrow:before,
.icons8-email:before,
.icons8-email-envelope:before,
.icons8-empty-box:before,
.icons8-eye:before,
.icons8-eye-outline:before,
.icons8-hamburger-menu:before,
.icons8-left-arrow:before,
.icons8-magazine:before,
.icons8-magazine-2:before,
.icons8-refresh:before,
.icons8-search:before,
.icons8-share-symbol:before,
.icons8-speech-bubble:before,
{ @include icons8-font; }

[data-icons8]:before { content: attr(data-icons8); }

.icons8-add:before { content: $icons8-var-add; }
.icons8-arrow-pointing-to-right:before { content: $icons8-var-arrow-pointing-to-right; }
.icons8-box:before { content: $icons8-var-box; }
.icons8-calendar:before { content: $icons8-var-calendar; }
.icons8-cancel:before { content: $icons8-var-cancel; }
.icons8-checked-box:before { content: $icons8-var-checked-box; }
.icons8-cog-wheel:before { content: $icons8-var-cog-wheel; }
.icons8-collapse-arrow:before { content: $icons8-var-collapse-arrow; }
.icons8-drop-down-arrow:before { content: $icons8-var-drop-down-arrow; }
.icons8-email:before { content: $icons8-var-email; }
.icons8-email-envelope:before { content: $icons8-var-email-envelope; }
.icons8-empty-box:before { content: $icons8-var-empty-box; }
.icons8-eye:before { content: $icons8-var-eye; }
.icons8-eye-outline:before { content: $icons8-var-eye-outline; }
.icons8-hamburger-menu:before { content: $icons8-var-hamburger-menu; }
.icons8-left-arrow:before { content: $icons8-var-left-arrow; }
.icons8-magazine:before { content: $icons8-var-magazine; }
.icons8-magazine-2:before { content: $icons8-var-magazine-2; }
.icons8-refresh:before { content: $icons8-var-refresh; }
.icons8-search:before { content: $icons8-var-search; }
.icons8-share-symbol:before { content: $icons8-var-share-symbol; }
.icons8-speech-bubble:before { content: $icons8-var-speech-bubble; }

