// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Pullist";
$icons8-font-path: "../fonts";

$icons8-var-add: "\f100";
$icons8-var-arrow-pointing-to-right: "\f101";
$icons8-var-box: "\f102";
$icons8-var-calendar: "\f103";
$icons8-var-cancel: "\f104";
$icons8-var-checked-box: "\f105";
$icons8-var-cog-wheel: "\f106";
$icons8-var-collapse-arrow: "\f107";
$icons8-var-drop-down-arrow: "\f108";
$icons8-var-email: "\f109";
$icons8-var-email-envelope: "\f10a";
$icons8-var-empty-box: "\f10b";
$icons8-var-eye: "\f10c";
$icons8-var-eye-outline: "\f10d";
$icons8-var-hamburger-menu: "\f10e";
$icons8-var-left-arrow: "\f10f";
$icons8-var-magazine: "\f110";
$icons8-var-magazine-2: "\f111";
$icons8-var-more: "\f112";
$icons8-var-refresh: "\f113";
$icons8-var-search: "\f114";
$icons8-var-share-symbol: "\f115";
$icons8-var-speech-bubble: "\f116";
$icons8-var-subtract: "\f117";
