// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Pullist";
$icons8-font-path: "../fonts";

$icons8-var-add: "\f109";
$icons8-var-arrow-pointing-to-right: "\f11c";
$icons8-var-box: "\f10a";
$icons8-var-calendar: "\f120";
$icons8-var-cancel: "\f108";
$icons8-var-checked-box: "\f10b";
$icons8-var-cog-wheel: "\f105";
$icons8-var-collapse-arrow: "\f11d";
$icons8-var-drop-down-arrow: "\f11e";
$icons8-var-email: "\f119";
$icons8-var-email-envelope: "\f118";
$icons8-var-empty-box: "\f114";
$icons8-var-eye: "\f111";
$icons8-var-eye-outline: "\f112";
$icons8-var-hamburger-menu: "\f10f";
$icons8-var-left-arrow: "\f11b";
$icons8-var-magazine: "\f100";
$icons8-var-magazine-2: "\f101";
$icons8-var-refresh: "\f107";
$icons8-var-search: "\f10d";
$icons8-var-share-symbol: "\f116";
$icons8-var-speech-bubble: "\f103";
